/* .bg-custom {
    background-color: #194866;

  }
  
  .social-icons i {
    font-size: 1.5rem;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn-light {
    background-color: #fff;
    color: #194866;
    border: none;
  }

  .col{
    display: flex;
    align-items: Space-between;
    justify-content: space-between;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    color: #ff7518 !important;
    text-decoration: underline;
  }

  button:hover{
    background-color: #ff7518;
    color: white;
  }
   */

   .bg-custom {
    background-color: #194866;
    padding: 60px;
  }
  
  .social-icons i {
    font-size: 2rem;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn-light {
    background-color: #ff7518;
    color: white;
    border: none;
  }
  

  a{
    text-decoration: none;
  }

  a:hover{
    color: #ff7518 !important;
    text-decoration: underline;
  }

  button:hover{
    transform: scale(1.05);
  }