

.page-link { 
    color: #194866; 
}

.page-link:hover {
    cursor: pointer;
}

.active-page .page-link {
    background-color: #ff7518;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
}

.no-results { 
    color: #ff7518; 
    font-size: 2rem; 
    margin: 1.5rem;
    margin-bottom: 100px;
  }
