
<header class="custom-container py-5 px-4 text-center">
  <h2><strong>Start Your Free Trial</strong></h2>
  <p>Learn from world-class experts. Provide Your Details we will get back to you!</p>
  <form [formGroup]="freeTrialForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="name" placeholder="Name" pattern="[A-Za-z ]+">
      <small *ngIf="freeTrialForm.get('name')?.invalid && (freeTrialForm.get('name')?.dirty || freeTrialForm.get('name')?.touched)" 
             class="text-white error-message" style="text-align: left; display: block;">
        <span *ngIf="freeTrialForm.get('name')?.errors?.['required']">Name is required.</span>
        <span *ngIf="freeTrialForm.get('name')?.errors?.['pattern']">Only characters allowded.</span>
      </small>
    </div>
    <div class="col-md-3">
      <input type="number" class="form-control" formControlName="mobileNumber" placeholder="Mobile No">
      <small *ngIf="freeTrialForm.get('mobileNumber')?.invalid && freeTrialForm.get('mobileNumber')?.touched" 
             class="text-white error-message" style="text-align: left; display: block;">
        <span *ngIf="freeTrialForm.get('mobileNumber')?.errors?.['required']">Mobile number is required.</span>
        <span *ngIf="freeTrialForm.get('mobileNumber')?.errors?.['pattern']">Enter at least 10 digits.</span>
      </small>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-light w-100">Submit</button>
    </div>
  </form>
</header>
