.card {
    transition: transform 0.3s ease;
    border: none;
  }

  .card-title { 
    text-align: center; 
    color: #194866;
  }


  .card:hover{
    transform: scale(1.04);
  }

  .card-img{
    margin: 0;
  }
  
  .card-img-top {
    object-fit: cover;
  }
  