
<div class="about-container">
    <div class="row about align-items-center">
      <div class="col-lg-7 mb-4 mb-lg-0 left">
        <strong>Who we are?</strong>
        <p>
          Elevate Learning Management System offers unparalleled courses and services for diverse educational needs, making it a one-stop solution for nursing, medicine, and health professions. 
          <br>
          <br>
          Trusted by numerous partners, our platform delivers Multiple courses, workshops, and tutors. By listening to students, faculty, and institutions, we shape every offering to meet your unique needs. We deliver tailored content and innovative tools backed by top-notch support and training. 
          <br>
          <br>
          Elevate helps bridge the gap from education to practical application, ensuring you stay ahead in your career and achieve your goals. Join us on Elevate and unlock your learning potential for a brighter future.
        </p>
      </div>
      <div class="col-lg-5 right">
        <app-video [videoSrc]="'assets/elevate intro.mp4'"></app-video>
      </div>
    </div>
  </div>
