
   .bg-custom {
    background-color: #194866;
    padding: 60px;
    margin-top: 3rem;
  }
  
  .social-icons i {
    font-size: 2rem;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn-light {
    background-color: #ff7518;
    color: white;
    border: none;
  }
  

  a{
    text-decoration: none;
  }

  a:hover{
    color: #ff7518 !important;
    text-decoration: underline;
  }

  button:hover{
    transform: scale(1.05);
  }