<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" class="img-fluid ms-4" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger-toggle">
        <div class="hamburger">
          <span class="navbar-toggler-icon"></span>
        </div>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!user || user?.profession === 'learner'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/nursingCourse">Nursing</a></li>
            <li><a class="dropdown-item" routerLink="/doctorCourses">Doctor</a></li>
            <li><a class="dropdown-item" routerLink="/pharmacistCourses">pharmacist</a></li>
            <li><a class="dropdown-item" routerLink="/nutrionistCourses">Nutritionist</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/announcement">Announcement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/review">Reviews</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/FAQ">FAQ</a></li>
              <li><a class="dropdown-item" routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </li>
      </ul>
    <button class="btn btn-primary background" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    <button class="btn btn-primary background" *ngIf="!isLoggedIn" routerLink="/login" type="button">Login</button>

    </div>
  </div>
</nav>

