<app-navbar></app-navbar>
<h1 class="text-center" style="margin: 20px; animation: fadeInUp 1s ease-in-out;">Our Valuable Customers</h1>
<div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel" style="animation: fadeInUp 1s ease-in-out;">
  <div class="carousel-indicators" style="animation: fadeInUp 2s ease-in-out;">
    <button *ngFor="let review of reviewData; index as i" type="button" [attr.data-bs-target]="'#reviewCarousel'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
  </div>
  <div class="carousel-inner" style="background-image: url('{{backgroundImageReview}}');  background-size: cover;  background-position: center;">
    <div *ngFor="let review of reviewData; index as i" class="carousel-item" [ngClass]="{ 'active': i === 0 }">
      <div class="carousel-content">
        <img [src]="review.imageSrc" class="review-image" alt="Review {{ i + 1 }}">
        <h5 class="review-name">{{ review.name }}</h5>
        <p class="review-description">{{ review.description }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer></app-footer>
