.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row.align-items-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.page-link { 
    color: #194866; 
}

.page-link:hover {
    cursor: pointer;
}

.active-page .page-link {
    background-color: #ff7518;
    color: white;
}
