/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #666
  }
  
.custom-default-background{
    background-color: #194866;
    color: white;
}

.custom-default-color{
    color: #194866;
}

::-webkit-scrollbar {
    display: none; 
}

.blueButton{
    background-color: #194866;
    color: white;
  }

  .orangeButton{
    background-color: #ff7518;
    color: white;
  }