<app-navbar></app-navbar>

<div class="container">
  <!-- Search and Filters -->
  <div class="row my-3 align-items-center">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Search courses..." (input)="onSearch($event)">
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="selectedTrainer" (change)="applyFilters()">
        <option value="">All Trainers</option>
        <option *ngFor="let trainer of uniqueTrainers">{{ trainer }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="selectedRating" (change)="applyFilters()">
        <option value="">All Ratings</option>
        <option *ngFor="let rating of uniqueRatings">{{ rating }}</option>
      </select>
    </div>

    <div *ngIf="filteredCourses.length === 0" class="no-results"> 
      No results found!
    </div>
    
  </div>

  <!-- Course Cards -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let course of paginatedCourses">
      <app-courses-card 
        [title]="course.title"
        [description]="course.description"
        [trainerName]="course.trainerName"
        [rating]="course.rating">
      </app-courses-card>
    </div>
  </div>
  
  <!-- Pagination -->
  <nav>
    <ul class="pagination">
      <li *ngFor="let page of totalPages" class="page-item" [ngClass]="{'active-page': currentPage === page}">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>
    </ul>
  </nav>
</div>

<app-footer></app-footer>
